body {
    font: 20px 'Open Sans', sans-serif;
    color: #ffffff;
    background-color:#2A2A2A;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: bold;
    font-variant: normal;
    font-style: normal;
    margin-bottom: 10px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 25px;
    font-style: italic;
}

p {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 18px;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 100;
    line-height: 150%;
    font-style: normal;
	font-variant: normal;
}

.bg-1 {
    margin-top: 25px;
    margin-bottom: 0px;
    background-color: #2A2A2A;
    color: #ffffff;
}

.navbar {
    background-color: #222222;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav  li a:hover {
    color: #6666ff !important;
}

.profile-picture {
    margin: 25px auto;
    box-shadow: 0 0 0 10px #D5D5D5;
    margin-bottom: 10px;
}
